	<ul class="submenusbox">
												<li><a class="a1" href="http://youshi.aiqin.com/">生活馆</a>
								<li><a class="a1" href="http://zaojiao.aiqin.com/">早教</a>
								<li><a class="a1" href="http://sheying.aiqin.com/">摄影</a>
								<li><a class="a1" href="http://qiming.aiqin.com/">起名</a>
								<li><a class="a1" href="http://youyong.aiqin.com/">婴儿游泳馆</a>
								<li><a class="a1" href="http://leyuan.aiqin.com/">亲子乐园</a>
								<li><a class="a1" href="http://chanhou.aiqin.com/">产后护理</a>
								<li><a class="a1" href="http://zengzhi.aiqin.com/">增值服务</a>
											</ul>

	<div class="footer">
        <div class="footer_bot clearfix">
        	<div class="foot_box_a"><a href="http://www.aiqin.com/"><img src="{IMG_PATH}footlogo.gif" alt="爱亲母婴加盟官方网站" width="171"/></a></div>
            <div class="foot_box_b">
			<span class="corblue">爱亲<a href="http://www.aiqin.com/">母婴加盟</a>官方网站</span><br />
			<a href="http://www.aiqin.com/cooperation/policy/"><img src="{IMG_PATH}qaa_01.jpg" alt="" width="236" height="43"/></a><br />
            Copyright &copy;2013 <a href="http://www.aiqin.com/">www.aiqin.com</a> All Right Reserved <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0044cba89c684370bd06c194700362db' type='text/javascript'%3E%3C/script%3E"));
</script>
			 工信部备案号：<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备11002673号-3</a> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000391833'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000391833' type='text/javascript'%3E%3C/script%3E"));</script>
			 <script language="javascript" type="text/javascript" src="http://js.users.51.la/17065826.js"></script>
<noscript><a href="http://www.51.la/?17065826" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17065826.asp" style="border:none" /></a></noscript>
			 </div>
            <div class="foot_box_c">
			<div class="qrcode"><img src="{IMG_PATH}qrcode.jpg"></div>
            	<p>北京华恩投资有限公司</p>
                <p>爱亲总部：北京市东城区永定门西滨河路8号院7号楼<br/>中海地产广场东塔7层。</p>
                <p>官方网站: <a href="http://www.aiqin.com/">www.aiqin.com</a>         </p>
                <p class="p1"><a class="first" href="#">网站地图</a>  |   <a href="#">工作机会</a>  |   <a href="#">隐私声明</a>  |   <a href="http://www.aiqin.com/aboutus/contact/">联系我们</a></p>
            </div>
        </div>
        <div class="wj"><a href="http://www.aiqin.com/"><img src="{IMG_PATH}qa_32.jpg" alt="母婴店加盟，孕婴店加盟" width="250" height="21"/></a></div>
	</div>
	<script language=javascript>
	var LiveAutoInvite0='您好，来自%IP%的朋友';
	var LiveAutoInvite1='来自首页的对话';
	var LiveAutoInvite2=' 网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';
	</script>
	<script language="javascript" src="http://pkt.zoosnet.net/JS/LsJS.aspx?siteid=PKT19609417&float=1"></script>

<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODA1ODUwMl8xNjc1NTBfNDAwODkwMDAxOV8"></script>
<!-- WPA Button End -->


