	<div class="footer">
	<style>
	*{margin: 0;padding: 0;}
		i{font-style: normal}
		.footer-dizhi{
			width: 990px;
			margin: 0 auto;
			height: 240px;
			margin-top: 10px

		}
		.footer-dizhi img{width: 100%}
		.footer-dizhi>div{float: left;}
		.dizhi-log a{
			display: block;
			width: 180px;
			height: 140px;
			margin: 30px 0 0 20px;
		}
		.dizhi-log a img {width: 100%;}
		.dizhi-a {
			width: 400px;
			padding: 10px;
			border-left: 2px solid #ccc;
			border-right: 2px solid #ccc
		}
		.dizhi-a h5{line-height: 20px;}
		.dizhi-a h3 {line-height: 40px;}
		.dizhi-a h3 i{font-size: 40px;display: block;float: left}
		.dizhi-a h3 span {font-size: 20px;display: block;float: left;}
		.dizhi-a p{width: 100%;display: block;float: left;font-size: 12px;line-height: 20px;}
		.dizhi-ba {width: 180px;padding: 10px;margin-top: 30px;font-size: 14px;line-height: 20px;text-align: center;border-right:1px solid #ccc }
		.dizhi-weix {width: 160px;margin-top: 30px;}
	</style>
	<div class="footer-dizhi">
		<div class="dizhi-log">
			<a href="http://www.aiqin.com/">
				<img src="http://www.aiqin.com/statics/images/flog.png">
			</a>
		</div>
		<div class="dizhi-a">
			<h3>北京爱亲科技股份有限公司</h3>
			<h3><span>客服热线:</span><i>400-139-8866</i></h3>
			<p>北京总部地址:北京市大兴区金星西路6号兴创大厦20层</p>
			<p>华南地区地址:广州市海珠区新港东路1220-1228号1101室</p>
			<p>成都地区地址:成都市锦江区东大街紫东楼街35号明宇金融广场23层2302</p>
			<p>武汉地区地址:武汉市武昌区岳家嘴山河企业大厦14层</p>
			<p>杭州地区地址:杭州市滨江区西兴街道江陵路1760号2205、2206室</p>
			<p>西安地区地址:西安市未央区凤城二路经发大厦506室</p>
		</div>
		<div class="dizhi-ba">
			<img src="http://www.aiqin.com/statics/images/fba.png">
			<p>北京总部:<span>400-139-8866</span></p>
			<p>广州地区:<span>400-139-8855</span></p>
			<p>成都地区:<span>400-139-8811</span></p>
			<p>西安地区:<span>400-139-8810</span></p>
			<p>杭州地区:<span>400-139-8803</span></p>
			<p>武汉地区:<span>400-139-8805</span></p>
		</div>
		<div class="dizhi-weix">
			<img src="http://www.aiqin.com/statics/images/fwx.png">
		</div>
	</div>

	  <div class="foot_info1">
	      <p class="p1">
	       <a class="first" href="http://www.aiqin.com/sitemap/">网站地图</a>  |
		   <a class="first" href="http://www.aiqin.com/aboutus/company/">爱亲母婴</a>  |
		   <a class="first" href="http://www.aiqin.com/news/top/">母婴新闻</a>  |
		   <a class="first" href="http://www.aiqin.com/cooperation/policy/">加盟合作</a>  |
		   <a class="first" href="http://www.aiqin.com/image/zbfc/">爱亲风采</a>|
		   <a href="http://www.aiqin.com/charity/">公益活动</a> |
		   <a href="http://www.aiqin.com/news/download/">内刊下载</a> |
		   <a href="http://www.aiqin.com/aboutus/contact/">联系我们</a>
		   <!--<a href="#">隐私声明</a> |   -->
		   <!--<a href="http://www.aiqin.com/aboutus/contact/">联系我们</a>-->
          </p>
      </div>
	  <div class="foot_info2">
		    工信部备案号：<a href="http://www.miitbeian.gov.cn" target="_blank">京ICP
			备11002673号-3</a>

			<!--CNZZ统计代码开始-->
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000391833'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000391833' type='text/javascript'%3E%3C/script%3E"));</script>
			<!--CNZZ统计代码结束-->

			<span class="foot_copy">Copyright &copy;2013 <a
			href="http://www.aiqin.com/">www.aiqin.com</a> All Right Reserved </span>
	  </div>

        <div class="wj"><div style="margin-bottom:10px;">版权所有:北京爱亲科技股份有限公司</div><a href="http://www.aiqin.com/"></a></div>
        <!-- <img src="{IMG_PATH}qa_32.jpg" alt="母婴店加盟，孕婴店加盟" width="250" height="21"/> -->
</div>

<!--左侧漂浮-->
<script src="http://www.aiqin.com/statics/piaomessage/message.js"></script>
<script src="http://www.aiqin.com/statics/piaomessage/leaveMessage.js"></script>
<!--end-->

<!--5.17新增加开始-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7c7bdcc04b2f16831c7e17af0a962a5f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--5.17新增加结束-->
<!--数据统计代码-->
<script type='text/javascript' src='http://gbook.aiqin.com/href.js'></script>
<!--数据统计代码end-->
<!--53KF代码开始-->
<script type='text/javascript' src='http://tb.53kf.com/kf.php?arg=10120146&style=1'></script>
<!--53KF代码结束-->
