<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}-爱亲母婴</title>
<meta name="keywords" content="{$SEO['keyword']}" />
<meta name="description" content="{$SEO['description']}" />
<link href="{CSS_PATH}global.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}sub.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}sub_2.css" rel="stylesheet" type="text/css" />
<link rel="alternate" media="only screen and(max-width: 640px)" href="<?php echo str_replace('www.aiqin.com','m.aiqin.com',$CAT['url']); ?>">
<script src="{JS_PATH}jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.soChange-min.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="{JS_PATH}jquery.mas.min.js"></script>
<script type="text/javascript" src="http://www.aiqin.com/statics/js/jquery-1.7.2.min.js"></script>

<script type="text/javascript" src="http://www.aiqin.com/statics/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="{JS_PATH}iepng.js"></script>
<![endif]-->
<style></style>
</head>
<body>
<div class="container">
{template "content","header"}
   	<div class="banner">
        {php $pid = $CATEGORYS[$CAT[parentid]][parentid]; $pidcont = $CATEGORYS[$CAT[parentid]][parentid]; if ($pid==0) $pid=$CAT[parentid];}
		{if $catid==54 || $catid==55 || $catid==58 || $catid==163 || $catid==169}
        <div id="galleryMedia"><div class="img"><a href="#1"><img src="{IMG_PATH}zs_new_ban.jpg" alt="{$CATEGORYS[$catid][catname]}" /></a></div></div>
		{else}
		<div id="galleryMedia"><div class="img"><a href="#1"><img src="http://www.aiqin.com/statics/images/zs_new_ban.jpg" alt="{$CATEGORYS[$catid][catname]}" /></a></div></div>
		{/if}
	</div>

	<div class="out_menu">
	<div class="menu">
		<ul>
			{php $pid = $CATEGORYS[$CAT[parentid]][parentid]; $pidcont = $CATEGORYS[$CAT[parentid]][parentid]; if ($pid==0) $pid=$CAT[parentid];}
			{loop subcat($pid) $s}
			{if $s[catid]==20}
			<li class="{if $s[catid]==$cid}curn{/if}"><a href="/ry_pp">{$s[catname]}</a></li>
			{elseif $s[catid]!=161 &&  $s[catid]!=36 &&  $s[catid]!=23 && $s[catid]!=28 && $s[catid]!=55 && $s[catid]!=58}
            {if  $s[catid]!=161 &&  $s[catid]!=36 &&  $s[catid]!=23 && $s[catid]!=58}
			<li class="{if $s[catid]==$catid}curn{/if}" {if $s[catid]==$catid}style="display:none"{/if}><a href="{$s[url]}">{$s[catname]}</a></li>
            {/if}
			{/if}
			{/loop}
			{/pc}
		</ul>
	</div>
    </div>
	<div class="main">
		<div class="lanmu lanmu02"><h1 class="zh">加盟流程</h1><span class="en"></span><span class="dh"><a href="http://www.aiqin.com">首页</a> &gt; <a href="http://www.aiqin.com/cooperation/policy/">加盟合作</a> &gt; <a href="javascript::void(0)">加盟流程</a> &gt;  </span></div>
	</div>
	<div class="content" style="margin-top:50px;">
		<img src="http://www.aiqin.com/statics/jimengliucheng/images/jimengLiuCheng0011.png" width="1000" style="margin: 0 auto;display: block;">
	</div>
{template "content","footer"}
</div>
</body>
</html>
