<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SEO['title']}-爱亲母婴</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}global.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}sub.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}sub_2.css" rel="stylesheet" type="text/css" />
<link rel="alternate" media="only screen and(max-width: 640px)" href="<?php echo str_replace('www.aiqin.com','m.aiqin.com',$CAT['url']); ?>">
<script src="{JS_PATH}jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.soChange-min.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="{JS_PATH}jquery.mas.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="{JS_PATH}iepng.js"></script>
<![endif]-->
{if $catid==69}
<link href="{CSS_PATH}carousel_a.css" rel="stylesheet" type="text/css" />
{else}
<link href="{CSS_PATH}carousel_b.css" rel="stylesheet" type="text/css" />
{/if}
<script type="text/javascript" src="{JS_PATH}jcarousellite_1.0.1.min.js"></script>
<script src="{JS_PATH}jquery.mousewheel.min.js" type="text/javascript"></script>
{if $catid==68 or $catid==70 or $catid==45}
<script src="{JS_PATH}aiqin_script.js" type="text/javascript"></script>
{/if}
{if $catid==68 or $catid==70}
<script src="{JS_PATH}swfobject.js" type="text/javascript"></script>
{/if}
</head>
<body>
{template "content","header"}
	<div class="banner">
		{php $pid = $CATEGORYS[$CAT[parentid]][parentid]; $pidcont = $CATEGORYS[$CAT[parentid]][parentid]; if ($pid==0) $pid=$CAT[parentid];}
		{if $catid==31}
		  <div id="galleryMedia"><div class="img"><a href="#1"><img src="{IMG_PATH}zs_new_ban.jpg" alt="{$CATEGORYS[$catid][catname]}" /></a></div></div>
		{else}
		  <div id="galleryMedia"><div class="img"><a href="#1"><img src="{IMG_PATH}banner_{$catid}.jpg" alt="{$CATEGORYS[$catid][catname]}" /></a></div></div>
		{/if}
	</div>
	<div class="out_menu">
	<div class="menu">
		<ul>
			{php $pid = $CATEGORYS[$CAT[parentid]][parentid]; $pidcont = $CATEGORYS[$CAT[parentid]][parentid]; if ($pid==0) $pid=$CAT[parentid];}
			{loop subcat($pid) $s}
			{if $s[catid]==20}
			<li class="{if $s[catid]==$cid}curn{/if}"><a href="/ry_pp">{$s[catname]}</a></li>
			{elseif $s[catid]!=161 &&  $s[catid]!=36 &&  $s[catid]!=23 && $s[catid]!=58}
			<li class="{if $s[catid]==$catid}curn{/if}"><a href="{$s[url]}">{$s[catname]}</a></li>
			{/if}
			{/loop}
			{/pc}
		</ul>
	</div>
    </div>
	<div class="main">
		{php $pid = $CATEGORYS[$CAT[parentid]][parentid]; $pidcont = $CATEGORYS[$CAT[parentid]][parentid]; if ($pid==0) $pid=$CAT[parentid];}
    	<div class="lanmu"><h1 class="zh">{$CATEGORYS[$catid][catname]}</h1><span class="en"></span><span class="dh"><a href="{siteurl($siteid)}">首页</a> &gt; {$CATEGORYS[$pid]['catname']}</span></div>  

		<div class="content">
        	<div class="danye">
            	<article>
                {loop subcat($pid) $s}
                {if $s[catid]==43} 

                  <style>
                    .ware-VR190227 iframe {
                      width: 1000px;
                      height: 562px;
                    }
                  
                    .ware-VR-item190227 {
                      width: 1000px;
                      height: 150px;
                      margin-top: 10px;
                      padding-bottom: 26px;
                    }
                  
                    .ware-VR-item190227 .item190227 {
                      width: 182px;
                      height: 142px;
                      margin-right: 12px;
                      float: left;
                      background-repeat: no-repeat;
                      background-size: 190px 150px;
                      background-position: center;
                      border: 4px solid #a1c5e6;
                      border-radius: 14px;
                      position: relative;
                      overflow: hidden;
                    }
                  
                    .ware-VR-item190227 .item190227 img {
                      width: 190px;
                      height: 34px;
                      position: absolute;
                      bottom: -4px;
                      left: 0;
                      right: 0;
                  
                    }
                  </style>
                  <div class="ware-VR190227">
                    <iframe src="https://720yun.com/t/rz5gnd988419mdp60w" frameborder="0" class="VR190227" id="VR190227-xinam"></iframe>
                    <iframe src="https://720yun.com/t/jz4wmg26mo1jqwgycy" frameborder="0" class="VR190227" id="VR190227-huabei"
                      style="display:none"></iframe>
                  </div>
                  <div class="ware-VR-item190227">
                    <div style="width:120%">
                      <div onclick="getVR190227('VR190227-xinam',this)" class="item190227"
                        style="background-image:url(http://www.aiqin.com/statics/images/xinan.png);border-color: #419fee"><img
                          class="img190227" src="http://www.aiqin.com/statics/images/xinan-a.png"></div>
                      <div onclick="getVR190227('VR190227-huabei',this)" class="item190227"
                        style="background-image:url(http://www.aiqin.com/statics/images/huabei.png)"><img class="img190227"
                          src="http://www.aiqin.com/statics/images/huabei-a.png" style="display:none"></div>
                      <div class="item190227" style="background-image:url(http://www.aiqin.com/statics/images/huanan.png)"><img
                          class="img190227" src="http://www.aiqin.com/statics/images/xinan-a.png" style="display:none"></div>
                      <div class="item190227" style="background-image:url(http://www.aiqin.com/statics/images/huazhong.png)"><img
                          class="img190227" src="http://www.aiqin.com/statics/images/xinan-a.png" style="display:none"></div>
                      <div class="item190227" style="background-image:url(http://www.aiqin.com/statics/images/huadong.png)"><img
                          class="img190227" src="http://www.aiqin.com/statics/images/xinan-a.png" style="display:none"></div>
                    </div>
                  </div>
                  <script>
                    function getVR190227(_id, _this, _url) {



                      var VR190227 = document.getElementsByClassName('VR190227');
                      var item190227 = document.getElementsByClassName('item190227');
                      for (var i = 0; i < item190227.length; i++) {
                        item190227[i].getElementsByClassName('img190227')[0].style.display = "none";
                        item190227[i].style.borderColor = '#a1c5e6'
                      }
                      _this.style.borderColor = '#419fee'
                      _this.getElementsByClassName('img190227')[0].style.display = "block";
                      for (var i = 0; i < VR190227.length; i++) {
                        VR190227[i].style.display = 'none';
                      }
                      document.getElementById(_id).style.display = 'block';
                    }

                  </script>
                {/if}
                {/loop}
				{$content}
				</article>
            </div>
        </div>
    </div>
	{if $catid==68 or $catid==70}
	<script type="text/javascript">
                       function DY_scroll(wraper,prev,next,img,speed,or)
                       {
                        var wraper = $(wraper);
                        var prev = $(prev);
                        var next = $(next);
                        var img = $(img).find('ul');
                        var w = img.find('li').outerWidth(true);
                        var s = speed;
                        next.click(function()
                             {
                              img.animate({'margin-left':-w},function()
                                        {
                                         img.find('li').eq(0).appendTo(img);
                                         img.css({'margin-left':0});
                                         });
                              });
                        prev.click(function()
                             {
                              img.find('li:last').prependTo(img);
                              img.css({'margin-left':-w});
                              img.animate({'margin-left':0});
                              });
                        if (or == true)
                        {
                         ad = setInterval(function() { next.click();},s*1000);
                         wraper.hover(function(){clearInterval(ad);},function(){ad = setInterval(function() { next.click();},s*1000);});

                        }
                       }
                       DY_scroll('.img-scroll','.prev','.next','.img-list',3,false);// true为自动播放，不加此参数或false就默认不自动
                      </script>
					  {elseif $catid==69}
					  <script type="text/javascript">
                                    $(function(){
                                        $(".jCarouselLite").jCarouselLite({
                                        start: 0,
                                        btnNext: ".carousel .next",
                                        btnPrev: ".carousel .prev",
                                        auto: 0,
                                        speed: 200,
                                        scroll: 1,
                                        visible: 4,
                                        vertical: true,
                                        mouseWheel: true,
                                        circular: false
                                        })
										$('.jCarouselLite a').click(function(){
											 img = $(this).attr('rel');
											 $("#bigimg").attr("src",img);
											 txt = $(this).attr('title');
											 $(".change_div h3 a").html(txt);
										})
                                    });
                                    </script>
									<script type="text/javascript">
                              function bigImg(img){
                                $("#bigimg").attr("src",img);
                               }
                              </script>
					  {/if}
{template "content","footer"}
<script type="text/javascript">
$(function(){
	$(".protitle").click(function(){
		$(this).next(".propic").toggle();
	});
});
</script>
</body>
</html>
